.headerbox {
  width: 90%;
  height: 8%;
  display: flex;
  justify-content: space-between;
}

.headerbox p {
  font-size: 20px;
}

.headerbox .btn {
  width: 7%;
  height: auto;
  margin-top: 5%;
}

.headerbox .btn img {
  width: 100%;
  height: auto;
  background-color: rgb(4, 23, 40);
}
