.container {
  position: relative;
  width: 400px;
  height: 600px;
  background-color: rgb(4, 23, 40);
  color: azure;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
