.container {
  position: relative;
  width: 400px;
  height: 600px;
  background-color: #141619;
  color: #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
